  {% load staticfiles %}

<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>The Chest</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">





<style>
body {
	overflow-x: hidden; /*--right gutter fix--*/
  font-family: sans-serif;
  color:#505962;
  background-color: #E9ECEF;
}
card-body{
 padding-bottom:0px;
}
.card-head .btn{
  border-width: 2px;
}
.navbar{
  text-transform: uppercase;
  background-color:#505962;
  padding:0;
}
.scrolling-box{
  scroll-behavior:smooth; 
}

.caption {
  width:100%;
  max-width:100%;
  position:absolute;
  top:40%;
  z-index:1;
}
.caption h3{
color:white;
font-size: 2.4rem;
text-transform: uppercase;
padding-bottom:2rem;
}
.input-group{
  width:25%;
}

h3.heading{
  text-align: center;
  font-size:1.9rem;
  font-transform:uppercase;
  margin-top: 2rem;
    margin-bottom: 2rem;
}
.padding{
  padding: 2rem 0;
}
img.portfolio {
  max-width: 100%;
}
.no-padding .col-md-3{
    padding:0;
}
.card{
  max-width: 140px;
  margin:1rem;
}
.footer .row{
  background-color: #505962;
    padding:1rem 2rem 3rem;
  color:white;
}
.footer img{
  height:2rem;
margin: 1.5rem 0;
}

.layer {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.jumbotron{
  padding-top:2rem; 
  margin-bottom:0px;
  padding-bottom:2.5em; 
}
.pojemnik{
  border:1px #505962;
  height:100%;
}
.tabela{
  border:1px solid white;
    padding-bottom: 8px;
    padding-top: 8px;

}




/*--- iOS Landing Page Fix --*/
.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  display: table;
  background: #E9ECEF;
  z-index: -1;
}
.home-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home-inner {
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
</style>







</head>

<body class="scrolling-box" data-spy="scroll" data-target="#menu">

<div id="home">

<nav class="navbar navbar-dark navbar-expand-md fixed-top">
	<div class="container-fluid">
		<a class="navbar-brand " href="#home"><h4">Home</h4></a>

		<button class="navbar-toggler" type= "button" data-toggle="collapse" data-target="#menu">
				<span class="navbar-toggler-icon"></span>
		</button>

			<div class="collapse navbar-collapse " id="menu">
						<ul class="navbar-nav nl-auto flex-end">
							<li class="nav-item">
								<a class="nav-link" href="#about">About</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#contact">Contact</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="chest.html">Create Chest</a>
							</li>
						</ul>
			</div>
	</div>

</nav>
<div class="landing">
	<div class="home-wrap">
		<div class ="home-inner" style="background-image:url('{% static "/myapp/tlo.jpg" %}');">
		 			<div class="layer">
  		  </div>
		</div>
	</div>
</div>
<div class="caption center-block text-center">
	<h3>Welcome to the Chest of Knowledge</h3>
	<a style="border-width: medium;
  font-size:.9rem;
  text-transform:uppercase ;
  padding: .5rem 1.1rem;" class="btn btn-outline-light" href="chest.html">Create Chest</a>

</div>
<a  id="about"></a>
</div> <!--End Home Section -->

<div >
	<div class="jumbotron">
		<h3 class="heading">About</h3>
		<div class="row">
			<div class="col-md-4 text-center">
				<h4>Teach</h4>
				<p class="font-weight-light">Choose category and items that You want your student to learn.</p>
			</div>
			<div class="col-md-4 text-center">
				<h4>Learn</h4>
				<p>Our application receives Your choices and implements them into the game,
					making an extraordinary opportunity to discover new languages.
				 </p>
			</div>
			<div class="col-md-4 text-center">
				<h4>Enjoy</h4>
				<p>Special occasion to experience virtual reality will make everyone come back to seek knowledge while simply having fun. </p>
			</div>
		</div>
					<a id="intro"></a>
	</div>






</div><!--End About Section-->
<div  class="landing">
	<div class="home-wrap">
		<div class ="home-inner" style="background-image:url('https://image-store.slidesharecdn.com/b9f1d177-bcbc-44fa-aa5b-974cc49b0942-original.jpeg'); background-height:0.8em">
		

			<div class="layer">



  		  </div>
		</div>
	</div>
</div>




<div id="contact">
	<div class="container-fluid footer">
		<div class="row">
			<div class="col-md-3"></div>
			<div class= "col-md-6 text-center">
			<h3>VR Front</h3>
			<p>
				Facebook fan page:
				 <a style="text-decoration:none; color:#17A2B8;"
				 href="https://www.facebook.com/ruchnaukowyfront/ ">www.facebook.com</a>
			</p>
			<p>
				Email adress: vrfront.group@gmail.com
			</p>

			</div>
		</div>
	</div>
</div>


<!--- Script Source Files -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</body>
</html>
